.info-grid {
  display: grid;
  gap: 0;
  overflow: hidden;
  width: 100%;
  border: 2px solid $primary-accent;
  grid-template-columns: 1fr 1fr 2fr;
  grid-auto-rows: minmax(150px, 300px);
  // grid-template-rows: 350px span;
  // grid-template-areas: "";

  .info-grid-item {
    width: 100%;
    height: 100%;
    color: $primary-text;
    overflow: hidden;

    img {
      opacity: 0.9;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .info-grid-item-content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 2rem;
      h3 {
        font-size: 1.6rem;
        font-weight: 700;
        overflow: hidden;
        margin: 0 auto 0.5rem 0;
        border-bottom: solid 5px $primary-accent;
      }
      p {
        font-size: 1.1rem;
        overflow: hidden;
        margin: 0 0 1.5rem 0;
      }
    }
  }
}
.info-grid-item:first-child {
  background-color: grey;
}
.info-grid-item:nth-child(3) {
  grid-row: 1/3;
}
.info-grid-item:last-child {
  background-color: $primary-color;
}

// Tablets/iPads
@media only screen and (max-width: 1000px) {
  .info-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, 200px);
    .info-grid-item {
      .info-grid-item-content {
        padding: 1rem;
        h3 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

// Large mobile phones
@media only screen and (max-width: 700px) {
  .info-grid {
    grid-template-columns: 0 1fr 1fr;
    grid-auto-rows: minmax(150px, 200px);
    .info-grid-item {
      .info-grid-item-content {
        padding: 0.5rem;
        h3 {
          font-size: 1.2rem;
          margin: 0 auto 0.5rem 0;
        }
        p {
          font-size: 0.8rem;
          margin: 0 0 1rem 0;
        }
        .btn {
          border: 2px solid;
          border-radius: 6px;
          padding: 0.4rem 0.5rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}
