@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import '_banner';
@import '_navbar';
@import '_contentGrid';
@import '_info';
@import '_footer';

$primary-color: #0b132b;
$primary-accent: #6fffe9;
$primary-text: #fff;
$secondary-text: #757575;
$black: #000;
$trans-speed-mid: ease 0.6s;

// https://coolors.co/0b132b-1c2541-3a506b-5bc0be-6fffe9

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
  margin: 2vh 0 0 0;
}

.section-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border-bottom: 5px solid $primary-accent;
  margin: 1rem auto 1.6rem 0;

  h3 {
    font-size: 1.75rem;
    font-weight: 700;
  }
}

.btn {
  border: 2px solid;
  border-radius: 6px;
  padding: 0.5rem 0.7rem;
  max-width: 20%;
  min-width: fit-content;
  text-align: center;
  transition: all 0.1s ease;
}

.primary-btn {
  @extend .btn;
  background-color: $primary-color;
  color: $primary-accent;
}

.secondary-btn {
  @extend .btn;
  background-color: $secondary-text;
  color: $primary-text;
}

.btn:hover,
.btn:focus {
  transform: translateY(-2px);
  box-shadow: 1px 1px 10px $primary-accent;
  -moz-box-shadow: 1px 1px 10px $primary-accent;
  -webkit-box-shadow: 1px 1px 10px $primary-accent;
}

.btn:active {
  transform: translateY(-4px) scale(1.05);
}

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: $primary-color;
}
body::-webkit-scrollbar-thumb {
  background: $primary-accent;
}

@media only screen and (max-width: 700px) {
  .content {
    margin: 1vh 0 0 0;
  }
}
