@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@import '_showcaseCarousel';
@import '_navbar';
@import '_footer';

$primary-color: #0b132b;
$primary-accent: #6fffe9;
$primary-text: #fff;
$secondary-text: #757575;

// https://coolors.co/0b132b-1c2541-3a506b-5bc0be-6fffe9

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
}
.container {
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  // grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

  .card {
    background-color: $primary-color;
    color: $primary-text;
    border: 2px solid $primary-accent;
    border-radius: 6px;
    min-height: 400px;
    height: fit-content;
    width: 100%;

    .img-card-top {
      height: auto;
      width: 100%;
      border-bottom: 1px solid $primary-text;
    }

    .card-title {
      color: $primary-accent;
      border-bottom: 2px solid $primary-accent;
      font-size: 1.2rem;
      text-align: center;
      margin: 0.5rem 1.5rem;
    }

    .card-text {
      color: $primary-text;
      font-size: 0.9rem;
      text-align: center;
      margin: 0.8rem 1rem;
      overflow: hidden;
      line-height: 1.5;
    }
  }
}

%btn {
  border: 1px solid;
  border-radius: 6px;
}

%message {
  color: $primary-text;
}

.error {
  @extend %message;
  background-color: red;
}

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: $primary-color;
}
body::-webkit-scrollbar-thumb {
  background: $primary-accent;
}

@media only screen and (max-width: 1500px) {
  .main-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}
@media only screen and (max-width: 1250px) {
  .main-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .main-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .main-grid {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}
