@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@import '_showcaseCarousel';
@import '_navbar';
@import '_mainGrid';
@import '_footer';

$primary-color: #0b132b;
$primary-accent: #6fffe9;
$primary-text: #fff;
$secondary-text: #757575;
$black: #000;
$trans-speed-mid: ease 0.6s;

// https://coolors.co/0b132b-1c2541-3a506b-5bc0be-6fffe9

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
}
.container {
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
  margin: 5vh 0 1vh 0;
}

.btn {
  border: 1px solid;
  border-radius: 6px;
  padding: 0.5rem 0.7rem;
  max-width: 20%;
  min-width: fit-content;
  margin: 0.5rem 0.5rem;
}

.primary-btn {
  @extend .btn;
  background-color: rgba($black, 0.4);
  color: $primary-text;
}

.info-btn {
  @extend .btn;
  background-color: $secondary-text;
  color: $primary-text;
}

%message {
  color: $primary-text;
}

.error {
  @extend %message;
  background-color: red;
}

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: $primary-color;
}
body::-webkit-scrollbar-thumb {
  background: $primary-accent;
}

@media only screen and (max-width: 700px) {
  .content {
    margin: 8vh 0 0 0;
  }
}
